@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bgGradient {
    @apply bg-gradient-to-r from-blue-600 to-purple-600;
  }
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number-input {
  -moz-appearance: textfield;
}